global
    maxconn 4000
    nbthread 1

defaults
    mode tcp
    timeout connect 1s
    timeout client 30s
    timeout server 30s
    option dontlognull
    no log

frontend tcp_in
    bind *:9999
    default_backend apis

backend apis
    balance roundrobin
    server api0 api-0:8000 maxconn 1000
    server api1 api-1:8000 maxconn 1000
